.row{
    margin:10px;
}

input{
    margin-left: 30px;
    margin-top: 15px;
}

.roles{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

/* body .container{
    padding-top: 50px;
}    */
body{
    width: 1365px;
    height: 100vh;
}
/* 
#form1{
    border: 3px solid rgb(253, 137, 157);
    
    margin-right: 100px;
} */

label{
    font-size: 15pt;
}

.form-contol{
    /* height: 3em; */
    background-color:  rgb(196, 224, 236);
    border-radius: 0px 10px;
    font-size: 2em;
}

#image{
    background-color:  rgb(196, 224, 236);
    border-radius: 0px 10px;
    font-size: 2em;
}

.col-form-label{
    margin-top: 5px;
}