<body id="s1"
    style=" background-image: url('/assets/image/hai.jpg'); background-color: rgb(200, 224, 236); background-repeat: no-repeat; background-size:contain;">

    <div class="container">
        <button id="product" routerLink="/addProducts" style="margin-left: 100px; 
         background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(90, 232, 236));">
            Add New Products </button>
        <br>
        <button id="product" routerLink="/manageproducts" style="margin-left: 100px;
          background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(90, 232, 236));">
          Manage Old Products </button>
        <br>
        <button id="nav" routerLink="/sellerPage" style=" margin-left:80px;  background-image: linear-gradient(to right,rgb(90, 232, 236), rgba(255,0,0,0) );">Back </button>
        <button id="nav" routerLink="/Logout" style="margin-left:140px; background-image: linear-gradient(to right,rgb(90, 232, 236), rgba(255,0,0,0) );">Logout </button>
    </div>

</body>