<div id="row1"  >
    <div class="row" >
        <div class="col-4" id="viewProducts">
            <a routerLink='/menFashion'><img class="img-responsive" 
            src="../assets/image/folder/menFashion.jpg"></a>
        </div>
        <div class="col-4" id="viewProducts">
            <a routerLink='/womenFashion'><img class="img-responsive" 
                src="../assets/image/folder/womenFashion.jpg"></a>
        </div>
        <div class="col-4" id="viewProducts">
            <a routerLink='/kidsFashion'><img class="img-responsive" 
                src="../assets/image/folder/kidsFashion.jpg"></a>
        </div>
    </div>
</div>
<div id=row2>
    <div class="row">
        <div class="col-4" id="viewProducts">
            <a routerLink='/electronics'><img class="img-responsive" 
                src="../assets/image/folder/ele.jpg"></a>
        </div>
        <div class="col-4" id="viewProducts">
            <a routerLink='/homeFurniture'><img class="img-responsive"
                    src="../assets/image/folder/homeFurniture.jpg"></a>
        </div>
        <div class="col-4" id="viewProducts">
            <a routerLink='/tvAppliances'><img class="img-responsive" 
                src="../assets/image/folder/tvAppliances.jpg"></a>
        </div>
    </div>
</div>
