<body id="s1"
    style=" background-image: url('/assets/image/hai.jpg'); background-color: rgb(200, 224, 236); background-repeat: no-repeat; background-size:contain;">




    <div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a routerLink="/sellerProfile" class="nav-link shadow ">Profile</a>
            <a routerLink="/sellerProducts" class="nav-link shadow ">Products</a>
            <a routerLink="adminViewProducts" class="nav-link shadow ">Orders</a>
            <a routerLink="adminViewProducts" class="nav-link shadow ">LogOut</a>

        </div>

        <span style="font-size:30px;cursor:pointer; margin-left: 10px; color: aliceblue; " onclick="openNav()">&#9776;

        </span>
    </div>
    <!-- <div style="float: right; font-size: 3.5em;">
        <label for="choice">
            Do You Want to add Products Now?</label>
        <br>

       <input id="section" type="radio" formControlName="choice" value="yes"> <img src="../assets/image/yes.png"> 
        

        <input id="section" type="radio" formControlName="choice" value="no"> <img src="../assets/image/no.png">
       

    </div> -->

</body>